h1 {
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(186, 224, 190, 0.4)
}

h2 {
    text-transform: uppercase;
    color: blue;
}

img {
    max-width: 50%;
    height: 30%;
}

.right {
    background-color: rgba(192, 227, 235, 0.3);
}

.fav {
    display: inline-block;
    background-color: rgba(186, 224, 190, 0.4);
    width: 48%;
}

.ach {
    display: inline-block;
    width: 30%;
    height: 50%;
    background-color: burlywood;
}